@import url(https://fonts.googleapis.com/css?family=Inter);

* {
  margin: 0;
  padding: 0;
}

main {
  width: 1920px;
  height: 1080px;
}

html {
  font-family: 'Inter';
  width: 1920px;
}

div.header {
  width: 1920px;
  height: 300px;
  background-image: linear-gradient(to right, #4465AC, #1B2946);
}

div.page-header {
  width: 1920px;
  height: 100px;
  background-color: #4465AC;
}

.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #4465AC; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  background-color: rgba(68 ,101 ,172, 0);
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 40px;
}

.openbtn:hover {
  color: #8FACEB;
}

.section-1 {
  width: 640px;
  height: 680px;
  background-image: url('2024 US Presidential Election Ballot.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2 {
  width: 640px;
  height: 680px;
  margin-top: -680px;
  margin-left: 640px;
  background-image: url('Australian Senate STV Ballot.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.image-overlay {
  width: 640px;
  height: 680px;
  background: linear-gradient(to right, rgba(22, 43, 88, 0.75), rgba(147, 147, 147, 0.75));
}

.section-3 {
  width: 640px;
  height: 680px;
  margin-top: -680px;
  margin-left: 1280px;
  background-image: url('New Zealand MMP Ballot.png');
  background-size: cover;
  background-repeat: no-repeat
}

h2 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 320px;
  padding-bottom: 320px;
}


h1.logo {
  color: white;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: -20px;
  margin-top: -83px;
  margin-left: 90px;
}

h2.systems {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

img.img1 {
  width: 449px;
  height: 300px;
  margin-left: 735px;
  margin-top: -69px;
}

img.img2 {
  width: 640px;
  height: 680px;
}

a:link {
  color: white;
  text-decoration: none;
}

div.section-1:hover {
  cursor: pointer;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0);
}

div.section-2:hover {
  cursor: pointer;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0);
}

div.section-3:hover {
  cursor: pointer;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0);
}